.App {
    padding: 30px;
    display: flex;
}

.App > div {
    margin-right: 50px;
}

.isDone {
    text-decoration: line-through;
}

.notIsDone {
    font-weight: bold;
}

.activeFilter {
    color: white;
    font-weight: bold;
    background-color: green;
    border: 2px solid green;
    border-radius: 3px;
    outline-color: green;
}
